html{
    font-size: 16px;
    box-sizing: border-box;
}

header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 3rem;
    color: royalblue;
    background-color: darkgray;
    z-index: 10;
    width: 100%;
}

.headerh1{
    font-size: 2rem;
}

.nav-links{
    display: flex;
    justify-content: space-between;
    font-size: 2rem;
    gap: 1rem;
    padding-right: 1rem;
}

.nav-link{
    
    border: 0.125rem solid royalblue;
    border-radius: 0.3125rem;
}

 .nav-links a{
    text-decoration: none;
    color: royalblue;
}


.nav-link:hover{
    background-color: royalblue;
    border: 0.125rem solid white;
    transition: background-color .25s linear, border .25s linear;
}   

.nav-links a:hover{
    color: white;
    transition: color .25s linear;
}

.downloads{
    margin-top: 3rem;
    border: .25rem royalblue solid;
    padding: 3rem;
    border-radius: 1rem;
    background-color: darkgrey;
    display:flex;
    flex-wrap: wrap;
}

.pic img{
    width: 18rem;
    height: 20rem;
    border-radius: 1rem;
    padding: .25rem;
}

.pic a{
    color: royalblue;
    text-decoration: none;
    border: 0.125rem solid royalblue;
    font-size: 2rem;
    border-radius: 2rem;
}

.pic a:hover{
    font-size: 3rem;
    color: darkgray;
    background-color: royalblue;
    transition: all linear .25s;
}