html{
    box-sizing: border-box;
}

header{
height: 3rem;
background-color: darkgray;
}

.headerh1{
    text-align: center;
    font-size: 2rem;
    color: royalblue;
}

.song{
    font-size: 1.5rem;
}

#songs {
background-color: royalblue;
display: grid;
grid-template: 1fr 1fr 1fr/1fr 1fr ;
gap: 1rem;
color: darkgray;
height: auto;
margin-top: 4rem;
border: .125rem solid darkgray;
border-radius:0.3125rem;
}

a{
    text-decoration: none;
    color: darkgray ;
}

a:hover{
    color: royalblue;
    background-color: darkgray;
    font-size: 2.5rem;
    border: .125rem solid white;
    border-radius: 2rem;
    transition: font-size .25s linear,border .25s linear,color .25s linear,background-color .25s linear,border-radius .25s linear;
}