html{
    font-size: 16px;
    box-sizing: border-box;
}

header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 3rem;
    color: royalblue;
    background-color: darkgray;
    z-index: 10;
    width: 100%;
}

.headerh1{
    text-align: center;
    font-size: 2rem;
}

#arrow{
    font-size: 4rem;
    display:inline;
    position: fixed;
    right: 29rem;
}
#arrow1{
    font-size: 4rem;
    display: none;
    position: fixed;
    right: 0rem;
}

.nav-links{
    display: flex;
    justify-content: space-between;
    font-size: 2rem;
    gap: 1rem;
    padding-right: 1rem;
}

.nav-link{
    
    border: 0.125rem solid royalblue;
    border-radius: 0.3125rem;
}

.nav-links a{
    text-decoration: none;
    color: royalblue;
}


.nav-link:hover{
    background-color: royalblue;
    border: 0.125rem solid white;
    transition: background-color .25s linear, border .25s linear;
}   

a:hover{
    color: white;
    transition: color .25s linear;
}


.song{
    font-size: 1.5rem;
}

#songs {
background-color: royalblue;
display: grid;
grid-template: 1fr 1fr 1fr/1fr 1fr ;
gap: 1rem;
color: darkgray;
height: auto;
margin-top: 4rem;
border: .125rem solid darkgray;
border-radius:0.3125rem;
}

a{
    text-decoration: none;
    color: darkgray ;
}

a.down:hover{
    color: royalblue;
    background-color: darkgray;
    font-size: 2.5rem;
    border: .125rem solid white;
    border-radius: 2rem;
    transition: font-size .25s linear,border .25s linear,color .25s linear,background-color .25s linear,border-radius .25s linear;
}

.downall{
    font-size: 2rem;
    margin-top: 1rem;
    background-color: royalblue;
    border: .125rem solid darkgray;
    height: 3rem;
    text-align: center;
    
}

a#downall:hover{
    color: royalblue;
    background-color: darkgray;
    border: .125rem solid royalblue;
    font-size: 3rem;
    transition: color .25s linear, background-color .25s linear, border .25s linear, font-size .25s linear;
}